<template>
    <div>
        <message ref="message"></message>
        <nav class="navbar navbar-light bg-white mb-4">
            <div class="container">
                <a class="navbar-brand" href="/tickets">
                    <img src="/img/logo.svg" with="30" height="30" class="d-inline-block align-bottom" alt="" />
                    Tickets
                </a>

            
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img v-if="avatar" :src="avatar" class="avatar__small" />
                            {{ $store.state.user.name }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <router-link class="dropdown-item" to="/team">{{ 'header.team' | translate }}</router-link>
                            <router-link class="dropdown-item" to="/subscription">{{ 'header.subscription' | translate }}</router-link>
                            <router-link class="dropdown-item" to="/settings">{{ 'header.settings' | translate }}</router-link>
                            <div class="dropdown-divider"></div>
                            <router-link class="dropdown-item" to="/help">{{ 'header.help' | translate }}</router-link>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                                href="/logout"
                                onclick="event.preventDefault();
                                            document.getElementById('logout-form').submit();">
                                {{ 'header.logout' | translate }}
                            </a>
                            <form id="logout-form" action="/logout" method="POST" style="display: none;">
                                <csrf-field></csrf-field>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12">
                    <router-view></router-view>
                </div>
            </div>
        </div>
        <modal ref="modal"></modal>
    </div>
</template>

<script>
    import CsrfField from './CsrfField.vue'
    import Modal from './Modal.vue'
    import Message from './Message.vue'
    export default {
      components: {
          CsrfField,
          Modal,
          Message
      },
      mounted() {
          eventbus.$on('modalOpen', (data) => {
              this.openModal(data)
          })
          eventbus.$on('showMessage', (data) => {
              this.showMessage(data)
          })
      },
      computed: {
          avatar() {
              return this.$store.state.settings.avatar
          }
      },
      methods: {
          openModal(data) {
              this.$refs.modal.title = data.title
              this.$refs.modal.body = data.body
              this.$refs.modal.event = data.event
              this.$refs.modal.payload = data.payload
              this.$refs.modal.openModal()
          },
          showMessage(data) {
              this.$refs.message.body = data.body
              this.$refs.message.type = data.type
              this.$refs.message.showMessage()
          }
      }
    }
</script>

<style lang="scss">
    .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .avatar__small {
        width: 25px;
        height: 25px;
        border-radius: 50%
    }
</style>
