<template>
    <article class="item__comments__comment">
        <div class="item__comments__comment__header">
            <div class="item__comments__comment__header__meta">
                <img v-if="avatar" :src="avatar" class="avatar__small" />
                <strong>{{ comment.username }}</strong>
                <span :title="comment.created_at">{{ date(comment.created_at) }}</span>
                <span :title="comment.updated_at" v-if="comment.created_at !== comment.updated_at">
                    / {{ $t('comment.updated', {time: date(comment.updated_at)}) }}
                </span>
            </div>
            <div class="item__comments__comment__header__actions" v-if="activeUser(comment.user_id)">
                <a href="#" @click.prevent="editComment"  :title="$t('comment.edit')">
                    <span class="oi oi-pencil"></span>
                </a>
                <a href="#" @click.prevent="showModal" :title="$t('comment.delete')">
                    <span class="oi oi-trash"></span>
                </a>
            </div>                 
        </div>
                
        <p class="item__comments__comment__body" v-show="!edit_mode" v-html="body">
        </p>
        <form method="POST" action="#" class="item__comments__comment__form" v-show="edit_mode" @submit.prevent="updateComment">
            <div class="form-group">
                <textarea name="body" rows="1" class="form-control" v-model="comment.body"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-sm btn-primary" type="submit">{{ 'general.save' | translate}}</button>
            </div>
        </form>
    </article>
</template>

<script>
    import moment from 'moment'
    import showdown from 'showdown'

    export default {
        props: ['comment', 'itemId'],

        data() {
            return {
                edit_mode: false,
                ticketId: this.$route.params.ticketId,
                converter: new showdown.Converter()
            }
        },
        mounted() {
            eventbus.$on('deleteComment', (payload) => {
                if (payload === this.comment.id) {
                    this.deleteComment()
                }
            })
        },
        computed: {
            avatar() {
                return this.$store.getters.getAvatar(this.comment.user_id)
            },
            body() {
                return this.converter.makeHtml(this.comment.body)
            }
        },
        methods: {
            date(string) {
                return moment(string + ' +00:00', 'YYYY-MM-DD HH:mm:ss Z').fromNow()
            },
            activeUser() {
                return this.comment.user_id === this.$store.state.user.id
            },
            editComment() {
                this.edit_mode = !this.edit_mode
            },
            showModal() {
                eventbus.$emit('modalOpen', {
                    title: this.$t('comment.delete_title'),
                    body: this.$t('comment.delete_message', {name: this.comment.title}),
                    event: 'deleteComment',
                    payload: this.comment.id
                })
            },
            updateComment() {    
                this.$store.dispatch('updateComment', {data: this.comment, ticketId: this.ticketId})
                this.edit_mode = false
            },
            deleteComment() {
                this.$store.dispatch('deleteComment', {data: this.comment, ticketId: this.ticketId})
            }
        }
    }
</script>

<style lang="scss">
    @import '../sass/_variables';

    .item__comments__comment {
        padding: 1rem;
        background: lighten($primary, 40%);
        margin-bottom: 1rem;
    }

    .item__comments__comment__header {
        display: flex;
        justify-content: space-between;
        font-size: 85%;
        padding-bottom: 3px;
        border-bottom: 1px solid $info;
    }

    .item__comments__comment__body {
        margin: 1rem;
    }

    .item__comments__comment__form {
        margin: 1rem;
    }

    @media print {
        .item__comments__comment__header {
            border-bottom: none;

            strong {
                display: inline-block;
                font-weight: bold;

                &:after {
                    content: ':';
                }
            }
        }

        .item__comments__comment__header__meta span,
        .item__comments__comment__header__actions {
            display: none;
        }

        .item__comments__comment__body {
            display: inline-block;
        }
    }
</style>


