<template>
    <div class="card card-default">
        <div class="card-header">{{ 'ticket.create' | translate }}</div>

        <div class="card-body">
            <form action="#" method="POST" @submit.prevent="createTicket">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" :placeholder="$t('ticket.placeholder.title')" v-model="ticket.title" required>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" v-model="ticket.private">
                            {{ 'ticket.private' | translate }}
                        </label>
                        <tooltip :text="$t('ticket.private_tooltip')"></tooltip>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{{ 'ticket.create' | translate }}</button>
                    <router-link class="btn btn-secondary" :to="{name: 'tickets'}">{{ 'general.back' | translate }}</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import Tooltip from './Tooltip.vue'

    export default {
        data() {
            return {
                ticket: {
                    title: '',
                    private: false
                }
            }
        },
        methods: {
            async createTicket() {
                const ticketId = await this.$store.dispatch('createTicket', this.ticket)
                this.$router.push({name: 'ticket-detail', params: {ticketId}})
            }
        },
        components: {
            Tooltip
        }
    }
</script>

