<template>
    <div class="card card-default">
        <div class="card-header">{{ 'item.create' | translate }}</div>

        <div class="card-body">
            <form action="#" method="POST" @submit.prevent="createItem">
                <div class="form-group">
                    <input type="text" class="form-control" :placeholder="$t('item.placeholder.title')" v-model="item.title" required>
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" :placeholder="$t('item.placeholder.date')" v-model="item.due_date">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" :placeholder="$t('item.placeholder.description')" v-model="item.description" v-text="item.description"></textarea>
                </div>
                <div class="form-group">
                    <select class="form-control" v-model="item.user_id" :disabled="ticket.private">
                        <option value="">{{ 'item.placeholder.assignee' | translate }}</option>
                        <option v-for="user in users" 
                                :key="user.id"
                                :value="user.id">
                            {{ user.name }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{{ 'item.create' | translate }}</button>
                    <router-link class="btn btn-secondary" :to="{name: 'ticket-detail', params: {ticketId: item.ticket_id}}">{{ 'general.back' | translate }}</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                item: {
                    user_id: '',
                    ticket_id: this.$route.params.ticketId
                }
            }
        },
        methods: {
            async createItem() {
                const itemId = await this.$store.dispatch('createItem', this.item)
                this.$router.push({name: 'view-item', params: {ticketId: this.item.ticket_id, itemId}})
            }
        },
        computed: {
            ticket() {
                return this.$store.getters.getTicket(this.item.ticket_id)
            },
            users() {
                if (!this.$store.state.team.length) {
                    return [this.$store.state.user]
                    
                }
                return this.$store.state.team[0].users
            }
        }
    }
</script>

