<template>
  <input type="hidden" name="_token" :value="csrf" />
</template>
<script>
    export default {
        computed: {
            csrf() {
                return document.head.querySelector('meta[name="csrf-token"]').content
            }
        }
    }
</script>
