<template>
    <div class="card card-default">
        <div class="card-header">{{ $t('general.edit', {name: ticket.title}) }}</div>

        <div class="card-body">
            <form action="#" method="POST" @submit.prevent="saveTicket">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" :placeholder="$t('ticket.placeholder.title')" v-model="ticket.title" required>
                </div>
                <div class="form-group" v-if="ticket.user_id === $store.state.user.id">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" v-model="ticket.private" :checked="ticket.private">
                            {{ 'ticket.private' | translate }}
                        </label>
                        <tooltip :text="$t('ticket.private_tooltip')"></tooltip>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{{ 'ticket.save' | translate }}</button>
                    <router-link class="btn btn-secondary" :to="{name: 'ticket-detail', params: {ticketId: ticket.id}}">{{ 'general.back' | translate }}</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import Tooltip from './Tooltip.vue'

    export default {
        methods: {
            saveTicket() {
                this.$store.dispatch('updateTicket', this.ticket)
                this.$router.push({name: 'ticket-detail', params: {ticketId: this.ticket.id}})
            }
        },
        computed: {
            ticket() {
                return this.$store.getters.getTicket(this.$route.params.ticketId)
            }
        },
        components: {
            Tooltip
        }
    }
</script>

