<template>
    <div class="card card-default">
        <div class="card-header">{{ $t('general.edit', {name: item.title}) }}</div>

        <div class="card-body">
            <form action="#" method="POST" @submit.prevent="saveItem">
                <div class="form-group">
                    <input type="text" class="form-control" :placeholder="$t('item.placeholder.title')" v-model="item.title" required>
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" :placeholder="$t('item.placeholder.date')" v-model="date">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="10" :placeholder="$t('item.placeholder.description')" v-model="item.description" v-text="item.description"></textarea>
                </div>
                <div class="form-group">
                    <select class="form-control" v-model="item.user_id" :disabled="ticket.private">
                        <option value="">{{ 'item.placeholder.assignee' | translate }}</option>
                        <option v-for="user in users" 
                                :key="user.id"
                                :value="user.id"
                                :selected="user.id === item.user_id">
                            {{ user.name }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{{ 'item.save' | translate }}</button>
                    <button class="btn btn-secondary" @click.prevent="$router.back()">{{ 'general.back' | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'

    export default {
        methods: {
            saveItem() {
                this.$store.dispatch('updateItem', {data: this.item, date: this.date})
                this.$router.push({name: 'view-item', params: {ticketId: this.$route.params.ticketId, itemId: this.$route.params.itemId}})
            }
        },
        computed: {
            ticket() {
                return this.$store.getters.getTicket(this.$route.params.ticketId)
            },
            item() {
                return this.$store.getters.getItem(this.ticket, this.$route.params.itemId)
            },
            date: {
                get() {
                    return this.item.due_date ? moment(this.item.due_date).format('YYYY-MM-DD') : null
                },
                set(value) {
                    this.item.due_date = value
                }
            },
            users() {
                if (!this.$store.state.team.length) {
                    return [this.$store.state.user]
                }
                return this.$store.state.team[0].users
            }
        }
    }
</script>

