<template>
    <div class="card card-default">
        <div class="card-header">{{ 'header.help' | translate }}</div>

        <div class="card-body">
            <div v-html="content"></div>
        </div>
    </div>
</template>

<script>
    import showdown from 'showdown'

    export default {
        data() {
            return {
                markdown: new showdown.Converter()
            }
        },
        computed: {
            content() {
                const content = this.$t('help')
                return this.markdown.makeHtml(content)
            }
        }
    }
</script>

<style lang="scss">
    @import '../sass/_variables';

    h2 {
        margin-top: 3rem
    }

    h3 {
         margin-top: 1.5rem;
    }

    h4 {
        margin-top: 1rem;
    }

    blockquote {
        margin: 1rem 0;
        padding: .5rem 1rem;
        background: $body-bg;
        font-weight: bold;
    }
</style>
