<template>
    <article @click.prevent.stop="toggleItem" :class="classes(item)">
        <div class="item-outer">
            <div class="items__item__title">
                <div class="items__item__title__comments" v-if="item.comments && item.comments.length" 
                    :title="$t('comment.count', {count: item.comments.length}, item.comments.length)">
                    <span class="oi oi-comment-square"></span>
                    {{ item.comments.length }}
                </div>
                {{ item.title }}
            </div>
            <div class="items__item__date">
                <span :title="item.due_date" v-if="item.due_date">{{ date(item.due_date) }}</span>
            </div>
            <div class="items__item__assignee">
                <img v-if="avatar" :src="avatar" class="avatar__small" :title="item.username" />
                <template v-else>{{ item.username }}</template>
            </div>
            <div class="items__item__action-bar hide-sm" :class="{'open': actionBarOpen}">
                <button class="btn btn-sm btn-warning" v-if="item.done" @click.stop="toggleDone(0)" :title="$t('item.close')">
                    <span class="oi oi-action-undo"></span>
                </button>
                <button class="btn btn-sm btn-success" v-else  @click.stop="toggleDone(1)" :title="$t('item.open')">
                    <span class="oi oi-check"></span>
                </button>
                <router-link class="btn btn-sm btn-info" tag="button" :to="{name: 'edit-item', params: {ticketId ,itemId: item.id}}" :title="$t('item.edit')">
                    <span class="oi oi-pencil"></span>
                </router-link>
                <button class="btn btn-sm btn-danger" @click.stop="showModal" :title="$t('item.delete')">
                    <span class="oi oi-trash"></span>
                </button>
            </div>
            <div class="show-sm">
                <button class="btn btn-sm btn-info" :title="$t('item.actions')" @click.stop="toggleActionbar">
                    <span class="oi oi-cog"></span>
                </button>
            </div>
        </div>
        <div class="item-inner" :class="open ? 'item-inner--open' : ''" @click.stop="nothing">
            <div class="item__description mb-3">
                <div>
                    <h4 v-if="item.description">{{ 'item.description' | translate }}:</h4>
                    <p v-else>{{ 'item.no_description' | translate }}</p>
                    <div v-html="description"></div>
                </div>
                <a class="item__permalink" :href="href" target="_blank" :title="$t('item.permalink')"><span class="oi oi-link-intact"></span></a>
            </div>

            <div class="item__comments">
                <h4>{{ 'comment.headline' | translate }}:</h4>
                
                <template v-for="comment in item.comments">
                    <comment :key="comment.id" :comment="comment" :itemId="item.id"></comment>
                </template>
                <p class="item__comments__none" v-if="!item.comments.length">{{ 'comment.empty' | translate }}</p>
            </div>

            <div class="item__form">
                <form method="POST" @submit.prevent="createComment">
                    <div class="form-group">
                        <textarea class="form-control" name="body" rows="1" :placeholder="$t('comment.placeholder')" v-model="commentInput" required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-primary">{{ 'comment.save' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</template>

<script>
    import moment from 'moment'
    import showdown from 'showdown'

    import Comment from './Comment.vue'

    export default {
        props: ['item', 'details'],

        data() {
            return {
                commentInput: '',
                open: this.details,
                ticketId: this.item.ticket_id,
                actionBarOpen: false,
                converter: new showdown.Converter()
            }
        },
        mounted() {
            eventbus.$on('deleteItem', (payload) => {
                if (payload === this.item.id) {
                    this.deleteItem()
                }
            })

            eventbus.$on('closeAllActionbars', () => {
                this.actionBarOpen = false
            })
        },
        methods: {
            nothing() {
                return
            },
            classes(item) {
                return `items__item items__item--${item.priority} ${item.done ? 'items__item--done' : '' }`
            },

            date(string) {
                return moment(string, 'YYYY-MM-DD HH:mm:ss').fromNow()
            },
            toggleItem() {
                this.open = !this.open;
            },
            toggleActionbar() {
                eventbus.$emit('closeAllActionbars')
                this.actionBarOpen = !this.actionBarOpen
            },
            showModal() {
                eventbus.$emit('modalOpen', {
                    title: this.$t('item.delete_title'),
                    body: this.$t('item.delete_message', {name: this.item.title}),
                    event: 'deleteItem',
                    payload: this.item.id
                })
            },
            toggleDone(value) {
                this.$store.dispatch('toggleDone', {data: this.item, payload: value})
            },
            deleteItem() {
                this.$store.dispatch('deleteItem', this.item)
            },
            createComment() {
                this.$store.dispatch('createComment', {data: this.item, payload: this.commentInput})
                this.commentInput = ''
            }
        },
        computed: {
            href() {
                return '/tickets/' + this.ticketId + '/items/'+ this.item.id
            },
            avatar() {
                return this.$store.getters.getAvatar(this.item.user_id)
            },
            description() {
                return this.converter.makeHtml(this.item.description)
            }
        },
        components: {
            Comment
        }
    }
</script>

<style lang="scss">
    @import '../sass/_variables';

    .items__item {
        display: block;
        background-color: $brand-item;
        padding: 1rem;
        margin-bottom: 1rem;
        color: #fff;
        position: relative;
        z-index: 100;

        &:hover,
        &:focus {
            cursor: pointer;
            text-decoration: none;
            background-color: lighten($brand-item, 5%);
            color: #fff;
        }

        &--high {
            background-color: lighten($warning, 10%);

            &:hover,
            &:focus {
                background-color: lighten($warning, 20%);    
            }
        }

        &--critical {
            background-color: lighten($danger, 10%);

            &:hover,
            &:focus {
                background-color: lighten($danger, 20%);               
            }
        }

        &--done {
            background-color: lighten($info, 20%);
            opacity: 0.5;
            
            
            &:hover,
            &:focus {
                background-color: lighten($info, 25%);     
            }

            .items__item__title,
            .items__item__date,
            .items__item__assignee {
                text-decoration: line-through;
            }
        }
    }

    .item-outer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
    }

    .item-inner {
        display: none;
        flex-direction: column;
        background-color: #fff;
        color: #000;
        margin-top: 1rem;
        padding: 1rem;

        &:hover,
        &:focus {
            cursor: default;
        }
    }

    .item-inner--open {
        display: flex;
    }

    .items__item__title {
        flex-basis: 40%;
    }

    .items__item__title__comments {
        font-size: 1rem;
        display: inline;
        margin-right: .5rem;
    }

    .items__item__date {
        flex-basis: 20%;
    }

    .items__item__assignee {
        flex-basis: 20%;
    }

    .items__item__action-bar.open {
        display: block;
        position: absolute;
        right: 45px;
        background: lighten($info, 30%);
        padding: .5rem;
        border-radius: 5px;

        &:after {
            width: 10px;
            height: 10px;
            background: lighten($info, 30%);
            content: '';
            position: absolute;
            right: -5px;
            transform: rotate(45deg);
            top: calc(50% - 1rem/2);
            z-index: -100;
        }
    }

    .item__description {
        display: flex;
        justify-content: space-between;
    }

    @media print {
        .items__item {
            border-top: 2px solid #000;
        }

        .items__item__title__comments,
        .items__item__action-bar,
        .item__form {
            display: none;
        }

        .item-inner {
            display: block;
        }

        .items__item__date span:after {
            content: ' (' attr(title) ')';
        }
    }

    .show-sm {
        display: none;
    }

    @media (max-width: 530px) {
        .hide-sm {
            display: none;
        }
        .show-sm {
            display: block;
        }
    }

    @media (max-width: 640px) {
        .item-outer > div {
            flex-basis: auto;
            margin-right: 1rem;
            word-break: break-word;

            &:last-child {
                margin-right: 0;
                white-space: nowrap;
            }
        }
    }
</style>


