<template>
  <div class="message" :class="[{'visible': visible}, type]">
      <p>{{ body }}</p>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                type: null,
                body: null,
                visible: false
            }
        },
        methods: {
            showMessage() {
                this.visible = true

                window.setTimeout(() => {
                    this.visible = false
                }, 5000)
            }
        }
    }
</script>

<style lang="scss">
    @import '../sass/variables';

    .message {
        display: flex;
        width: 100%;
        justify-content: center;
        position: fixed;
        top: -30%;
        z-index: 1111;
        transition: top .5s ease-in;

        &.visible {
            top: 0%;
        }

        &.error p {
            background-color: $danger;
        }

        &.success p {
            background-color: $success;
        }

        p {
            color: white;
            padding: .5rem 1rem;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            max-width: 60%;
            text-align: center;
        }
    }
</style>


