<template>
  <div class="modal" tabindex="-1" role="dialog" v-show="open">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{title}}</h5>
                <button type="button" class="close" aria-label="Close" @click.prevent="closeModal">
                    <span aria-hidden="true" class="oi oi-x"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{body}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @click.prevent="confirm">{{ 'general.confirm' | translate }}</button>
                <button type="button" class="btn btn-secondary" @click.prevent="closeModal">{{ 'general.cancel' | translate }}</button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: 'Modal title',
                body: 'Modal body text',
                open: false,
                event: null,
                payload: null
            }
        },
        mounted() {
            document.addEventListener('keyup', evt => {
                if (evt.keyCode === 27 && this.open) {
                    this.closeModal()
                } else if (evt.keyCode === 13 && this.open) {
                    this.confirm()
                }
            })
        },
        methods: {
            openModal() {
                this.open = true
            },
            closeModal() {
                this.open = false
            },
            confirm() {
                if (this.event) {
                    eventbus.$emit(this.event, this.payload)
                    this.closeModal()
                }
            }
        }
    }
</script>

<style lang="scss">
    .modal {
        display: block;
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-content: center;

        &::before,
        &::after {
            content: normal;
        }

        .close {
            font-size: 1rem;
        }
    }
</style>
