<template>
    <div class="card">
        <div class="card-header">
            <span class="uppercase">{{ plan.plan }}</span>
            <small>({{plan.interval}})</small>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item px-0 text-center">{{ plan.users_included }} {{'subscription.users' | translate}}</li>
                <li class="list-group-item px-0 text-center">{{$t('subscription.'+plan.interval)}} {{'subscription.payment' | translate}}</li>
                <li class="list-group-item px-0 text-center">
                    <strong>{{price}}€ {{$t('subscription.'+plan.interval.slice(0, -2))}}</strong>
                    <span class="badge badge-pill badge-danger" v-if="discount">-{{discount}}%</span>
                </li>
                <li class="list-group-item px-0 text-center" v-if="plan.activated">
                    <small v-if="!plan.expires">{{'subscription.valid_from' | translate}} {{ plan.activated }}</small>
                    <small v-else>{{'subscription.valid_until' | translate}} {{ plan.expires }}</small>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <button class="btn btn-warning" @click.prevent="resumePlan" v-if="canceled">{{'subscription.resume' | translate}}</button>
            <button class="btn btn-danger" @click.prevent="cancelPlan" v-else-if="active && !canceled">{{'subscription.cancel' | translate}}</button>
            <button class="btn btn-primary" @click.prevent="selectPlan" v-else>{{isSubscribed ? $t('subscription.upgrade') : $t('subscription.subscribe')}}</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['plan'],
        methods: {
            selectPlan() {
                const data = {
                    name: this.plan.plan,
                    interval: this.plan.interval
                }
                if(this.isSubscribed) {
                    this.$emit('plan-upgraded', data)
                } else {
                    this.$emit('plan-selected', data)
                }
            },
            cancelPlan() {
                this.$emit('plan-canceled')
            },
            resumePlan() {
                this.$emit('plan-resumed')
            }
        },
        computed: {
            price() {
                const multiplier = this.plan.interval === 'monthly' ? 1 : 10
                return this.plan.users_included * multiplier
            },
            discount() {
                const multiplier = this.plan.interval === 'monthly' ? 1 : 12
                
                return (1 - (this.price / (this.plan.users_included * multiplier))).toFixed(2) * 100
            },
            active() {
                return this.plan.is_active
            },
            canceled() {
                return this.plan.is_canceled
            },
            isSubscribed() {
                const subscriptionData = this.$store.state.subscription.data

                return subscriptionData ? Object.keys(subscriptionData).length > 0 : false
            }
        }
    }
</script>

<style lang="scss" scoped>
    .card-header {
        display: block;
    }

    .uppercase {
        text-transform: uppercase;
    }
</style>
