<template>
    <div>
        <div class="card card-default">
            <div class="card-header">{{ 'settings.application' | translate }}{{ 'header.settings' | translate }}</div>

            <div class="card-body">
                <form action="/api/settings" method="POST" @submit.prevent="saveSettings">
                    <div class="form-group">
                        <label for="critical">{{ 'settings.critical' | translate }}</label>
                        <input type="number" v-model="settings.critical" class="form-control" id="critical" :placeholder="$t('settings.placeholder')">
                    </div>
                    <div class="form-group">
                        <label for="critical">{{ 'settings.warning' | translate }}</label>
                        <input type="number" v-model="settings.warning" class="form-control" id="critical" :placeholder="$t('settings.placeholder')">
                    </div>
                    <div class="form-group">
                        <label for="critical">{{ 'settings.language' | translate }}</label>
                        <select v-model="settings.language" class="form-control">
                            <option value="en">English</option>
                            <option value="de">Deutsch</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">{{ 'general.save' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card card-default">
            <div class="card-header">{{ 'settings.user' | translate }}{{ 'header.settings' | translate }}</div>
            <div class="card-body">
                <form enctype="multipart/form-data" action="/api/settings" method="POST" @submit.prevent="saveSettings">        
                    <div class="form-group">
                        <label for="avatar">{{ 'settings.avatar' | translate }}</label>
                        <input
                            @change="addAvatar"
                            :disabled="fileupload.disabled"
                            v-if="!settings.avatar"
                            type="file" class="form-control-file" accept="image/*" id="avatar">
                        <div v-else class="settings__avatar" title="Delete Profile Picture" @click="removeAvatar">
                            <img :src="settings.avatar" />
                            <span class="oi oi-trash"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" v-model="settings.hidden">
                                {{ 'settings.hide' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">{{ 'general.save' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="card card-default">
            <div class="card-header ">{{ 'settings.advanced' | translate }} {{ 'header.settings' | translate }}</div>
            <div class="card-body">
                <div class="form-group">
                    <div role="group" aria-label="">
                        <button type="button" class="btn btn-danger" @click.prevent="deleteCache">{{ 'settings.delete_caches_all' | translate }}</button>
                        <button type="button" class="btn btn-danger" @click.prevent="deleteCache('tickets')">{{ 'settings.delete_caches_app' | translate }}</button>
                        <button type="button" class="btn btn-danger" @click.prevent="deleteCache('ticket-api')">{{ 'settings.delete_caches_api' | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import moment from 'moment'

    import Team from './Team.vue'

    export default {
        data() {
            return {
                fileupload: {
                    disabled: false
                }
            }
        },
        components: {
            Team
        },
        computed: {
            settings() {
                return {
                    warning: this.$store.state.settings.days_warning,
                    critical: this.$store.state.settings.days_critical,
                    language: this.$store.state.settings.language,
                    hidden: this.$store.state.settings.user_hidden,
                    avatar: this.$store.state.settings.avatar
                }
            }
        },
        methods: {
            addAvatar(event) {
                const file = event.target.files[0]
                const data = new FormData()

                data.append('avatar', file, file.name)

                this.fileupload.disabled = true

                this.$store.dispatch('changeAvatar', data)
            },
            removeAvatar() {
                this.$store.dispatch('deleteAvatar')
            },
            async saveSettings() {
                const request = await axios.put('/api/settings', this.settings).catch(e => console.error(e))
                const tickets = await axios.get('/api/tickets').catch(e => console.error(e))

                if (request.status === 200 && tickets.status === 200) {
                    this.$store.commit('updateSettings', request.data)
                    this.$i18n.set(this.settings.language)
                    moment.locale(this.settings.language)
                    
                    this.$store.commit('fetchData', {route: this.$route.name, data: tickets.data})
                    
                    this.$router.back()
                }
            },
            async deleteCache(key) {
                if (typeof key === 'string') {               
                    return await caches.delete(key)
                } else {
                    const list = await caches.keys()
                    return Promise.all(list.map(async key => await caches.delete(key)))
                }
            }
        }
    }
</script>

<style lang="scss">
    .settings__avatar {
        display: flex;
        width: 100px;

        &:hover,
        &:focus {
            cursor: pointer;

            img {
                opacity: .75;
            }
            span {
                display: block
            }
        }

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        span {
            color: #fff;
            font-size: 2rem;
            display: none;
            align-self: center;
            margin-left: calc(-50% - 1rem);
        }
    }
</style>


