<template>
    <div class="card card-default">
        <div class="card-header">{{ 'header.subscription' | translate }}</div>

        <div class="card-body">

            <div class="container">
                <div class="row" v-if="showPlans">
                    <div class="col">
                        <div class="card-group">
                            <plan 
                                v-for="plan in subscription.plans"
                                :key="plan.id"
                                :plan="plan"
                                @plan-selected="startPaymentProcess"
                                @plan-canceled="cancelPlan"
                                @plan-resumed="resumePlan"
                                @plan-upgraded="upgradePlan"
                            />
                        </div>
                    </div>
                </div>
                <div class="row" v-show="showPaymentForm">                
                    <div class="col">
                        <p>{{'subscription.payment_details' | translate}}</p>
                        <card class="stripe-card" :stripe="subscription.apiKey" @change="complete = $event.complete"/>
                        <button class="btn btn-primary" @click.prevent="pay" :disabled="!complete">Pay</button>
                        <button class="btn btn-secondary" @click.prevent="showPlans = true;showPaymentForm = false;">Back</button>
                    </div>
                </div>
                <div class="row" v-if="processing">
                    <div class="col">
                        <p>{{'subscription.processing' | translate}} &hellip;</p>                        
                        <spinner />
                    </div>                    
                </div>

                <div class="row" v-if="false">
                    <div class="col">
                        <div class="card card-default">
                            <div class="card-header">Large</div>
                            <div class="card-body">
                                <p>Need more users or alternate payment options? Contact us for custom plans!</p>
                                <button class="btn btn-primary">Contact</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import { Card, createToken } from 'vue-stripe-elements-plus'
    import Plan from './Plan.vue'
    import Spinner from './Spinner.vue'

    export default {
        data() {
            return {
                size: null,
                interval: null,
                showPlans: true,
                showPaymentForm: false,
                processing: false,
                complete: false
            }
        },
        methods: {
            startPaymentProcess(data) {
                this.size = data.name
                this.interval = data.interval
                this.showPlans = false
                this.showPaymentForm = true
            },
            async pay() {
                this.processing = true
                this.showPaymentForm = false
                
                const stripeToken = await createToken()

                const data = {
                    token: stripeToken.token.id,
                    plan: this.size,
                    interval: this.interval
                }

                const response = await axios.post('/api/subscription', data).catch(error =>  this.errorHandling(error))
                this.successHandling(response, 'activatePlan', this.$t('subscription.messages.active'))
            },
            async cancelPlan() {
                this.processing = true
                this.showPlans = false
                            
                const response = await axios.delete('/api/subscription/1').catch(error =>  this.errorHandling(error))
                this.successHandling(response, 'cancelPlan', this.$t('subscription.messages.canceled'))
                
            },
            async resumePlan() {
                this.processing = true
                this.showPlans = false
                            
                const response = await axios.put('/api/subscription/1').catch(error =>  this.errorHandling(error))
                this.successHandling(response, 'resumePlan', this.$t('subscription.messages.resumed'))
                
            },
            async upgradePlan(data) {
                this.processing = true
                this.showPlans = false

                const payload = {
                    plan: data.name,
                    interval: data.interval
                }
                            
                const response = await axios.put('/api/subscription/1', payload).catch(error =>  this.errorHandling(error))
                this.successHandling(response, 'upgradePlan', this.$t('subscription.messages.upgraded'))
                
            },
            successHandling(response, action, successMessage) {
                if (response) {
                    this.processing = false
                    this.showPlans = true
                    
                    const data = {
                        type: null,
                        body: null
                    }

                    if (response.status === 200) {
                        data.type = 'success'
                        data.body = successMessage

                        this.$store.dispatch(action, response.data)
                    }

                    eventbus.$emit('showMessage', data)
                }
            },
            errorHandling(error) {
                this.processing = false
                this.showPlans = true

                if (error.status !== 200) {
                    const data ={
                        type: error.response.data.type || 'error',
                        body: error.response.data.message || error.message || 'There was an error. Please try again!'
                    }

                    eventbus.$emit('showMessage', data)
                }
            }
        },
        computed: {
            subscription() {
                return this.$store.state.subscription
            }
        },
        components: {
            Card,
            Plan,
            Spinner
        }
    }
</script>

<style lang="scss">
    .stripe-card {
        margin: 1rem 0;
    }
</style>
