<template>
    <tr>
        <td></td>
        <td>{{ invite.email }}</td>
        <td>{{'team.invited' | translate}}</td>
        <td>
            <a v-if="isOwner"
                class="text-danger"
                href="#"
                :title="$t('team.tooltip_revoke')"
                @click.prevent="openModal"
                >
                <span class="oi oi-trash"></span>
            </a>
        </td>
    </tr>
</template>

<script>
    import axios from 'axios'

    export default {
        props: ['invite'],

        mounted() {
            eventbus.$on('revokeInvitation', (payload) => {
                if(payload === this.invite.id) {
                    this.revokeInviation(payload)
                }
            })
        },
        computed: {
            team() {
                return this.$store.state.team[0]
            },
            isOwner() {
                return this.team.owner_id === this.$store.state.user.id
            }
        },
        methods: {
            openModal() {
                const data = {
                    title: this.$t('team.revoke_invitation_title'),
                    body: this.$t('team.revoke_invitation_body', {name: this.invite.email}),
                    event: 'revokeInvitation',
                    payload: this.invite.id
                }
                eventbus.$emit('modalOpen', data)
            },
            async revokeInviation(payload) {
                const response = await axios.delete(`/api/team/${this.team.id}/invite/${payload}`)
                if (response.status === 200) {
                    this.$store.commit('revokeInvitation', response.data)
                }
            }
        }
    }
</script>
