<template>
    <tr>
        <td>{{ member.name }}</td>
        <td>{{ member.email }}</td>
        <td>{{ isOwner ? $t('team.owner') : $t('team.member')}}</td>
        <td>
            <a v-if="isAuthorized"
                class="text-danger"
                href="#"
                :title="$t('team.tooltip_delete')"
                @click.prevent="openModal"
                >
                <span class="oi oi-trash"></span>
            </a>
        </td>
    </tr>
</template>

<script>
    import axios from 'axios'

    export default {
        props: ['member'],

        mounted() {
            eventbus.$on('deleteTeamMember', (payload) => {
                if(payload === this.member.id) {
                    this.deleteTeamMember(payload)
                }
            })
        },
        computed: {
            user() {
                return this.$store.state.user.id
            },
            team() {
                return this.$store.state.team[0]
            },
            isOwner() {
                return this.team.owner_id === this.member.id
            },
            isAuthorized() {
                // is not the team owners account
                // AND user is team owner
                // OR is users own account
                return !this.isOwner && (this.team.owner_id === this.user || this.member.id == this.user)
            }
        },
        methods: {
            openModal() {
                const data = {
                    title: this.$t('team.delete_member_title'),
                    body: this.$t('team.delete_member_body', {name: this.member.name, team: this.team.name}),
                    event: 'deleteTeamMember',
                    payload: this.member.id
                }
                eventbus.$emit('modalOpen', data)
            },
            async deleteTeamMember(payload) {
                const response = await axios.delete(`/api/team/${this.team.id}/member/${payload}`)
                if (response.status === 200) {
                    this.$store.commit('removeTeamuser', response.data)
                }
            }
        }
    }
</script>
