<template>
    <div class="card card-default">
        <div class="card-header">{{'header.team' | translate}}</div>
        <div class="card-body">
            <template v-if="team">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <span v-show="!edit_mode">{{ team.name }}
                                    <a href="#" @click.prevent="edit_mode = true" :title="$t('team.button_rename')">
                                        <small><span class="oi oi-pencil"></span></small>
                                    </a>
                                </span>
                                <form v-show="edit_mode" class="form-inline" @submit.prevent="updateTeamName">
                                    <input type="text" class="form-control form-control-sm mr-2" v-model="team.name">
                                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                                </form>
                                
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="member in team.users">
                            <team-member :member="member" :key="member.id"></team-member>
                        </template>
                        <template v-for="invite in team.invited">
                            <team-invitation :invite="invite" :key="invite.id"></team-invitation>
                        </template>
                    </tbody>
                </table>

                <form action="/api/team" method="POST" @submit.prevent="saveTeam" v-if="isTeamOwner">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <label for="email">{{'team.label_add' | translate}}</label>
                        <input type="email" id="email" class="form-control" :placeholder="$t('team.placeholder_email')" v-model="email">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" :disabled="teamsave">{{'team.button_add' | translate}}</button>
                        <button class="btn btn-danger" @click.prevent="openModal">{{'team.button_delete' | translate}}</button>
                    </div>
                </form>
            </template>
            <form v-else action="/api/team" method="POST" @submit.prevent="createTeam">
                <div class="form-group">
                    <label for="team">{{'team.label_create' | translate}}</label>
                    <input type="text" id="team" class="form-control" :placeholder="$t('team.placeholder_name')" v-model="teamname">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" :disabled="teamsave">{{'team.button_create' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    import TeamMember from './TeamMember.vue'
    import TeamInvitation from './TeamInvitation.vue'
    
    export default {
        data() {
            return {
                edit_mode: false,
                teamsave: false,
                teamname: '',
                email: ''
            }
        },
        mounted() {
            eventbus.$on('deleteTeam', (payload) => {
                this.deleteTeam(payload)
            })
        },
        computed: {
            user() {
                return this.$store.state.user.id
            },
            team() {
                return this.$store.state.team[0]
            },
            isTeamOwner() {
                return this.team.owner_id === this.user
            }
        },
        methods: {
            openModal() {
                const data = {
                    title: this.$t('team.delete_team_title'),
                    body: this.$t('team.delete_team_body', {team: this.team.name}),
                    event: 'deleteTeam',
                    payload: this.team.id
                }
                eventbus.$emit('modalOpen', data)
            },
            async updateTeamName() {
                this.edit_mode = false
                const {data} = await axios.put(`/api/team/${this.team.id}`, {name: this.team.name})
            },
            async createTeam() {
                const {data} = await axios.post('/api/team', {name: this.teamname})

                this.$store.commit('createTeam', data)
                
            },
            async saveTeam() {
                this.teamsave = true;
                const {data} = await axios.put(`/api/team/${this.team.id}`, {mail: this.email})
                eventbus.$emit('showMessage', {body: data.message, type: data.success ? 'success' : 'error'})
                
                if (data.success) {
                    this.$store.commit('addTeamuser', {id: data.id, email: this.email})
                    this.email = ''
                }
                this.teamsave = false;
            },
            async deleteTeam(id) {
                const response = await axios.delete(`/api/team/${this.team.id}`)
                if (response.status === 200) {
                    this.$store.commit('deleteTeam')
                }
            }
        },
        components: {
            TeamMember,
            TeamInvitation
        }
    }
</script>

