<template>
    <div>
        <div class="card card-default">
                <div class="card-header">{{'ticket.tasks' | translate}}</div>
                <div class="card-body">
                    <template v-for="item in tasks">
                        <item :item="item" :key="item.id"></item>
                    </template>
                    <p v-if="!tasks || !tasks.length">{{'ticket.no_tasks' | translate}}</p>
                </div>
        </div>
        <div class="card card-default">
            <div class="card-header">
                <div>Tickets</div>
                <div>
                    <router-link class="btn btn-sm btn-primary" :to="{name: 'create-ticket'}">
                        <span class="oi oi-plus"></span>&nbsp;{{ 'ticket.create' | translate }}
                    </router-link>
                </div>
            </div>

            <div class="card-body">
                <div v-if="tickets && tickets.length">
                        <div class="tickets">
                            <router-link :to="{ name: 'ticket-detail', params: { ticketId: ticket.id }}" class="tickets__item" v-for="ticket in tickets" :key="ticket.id">
                                <div>{{ ticket.title }}</div>
                                <div>
                                    <span v-if="ticket.hasCritical" class="oi oi-circle-x text-danger" :title="$t('ticket.critical', {name: ticket.title})"></span>
                                    <span v-if="ticket.hasWarning" class="oi oi-warning text-warning" :title="$t('ticket.warning', {name: ticket.title})"></span>
                                    <span v-if="ticket.private" class="oi oi-lock-locked" :title="$t('ticket.private')"></span>                            
                                </div>
                            </router-link>
                        </div>
                </div>
                <p v-else>{{ 'ticket.empty' | translate }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'

    import Item from './Item.vue'

    import Sorting from '../js/sorting'

    export default {
        data() {
            return {
                user: this.$store.state.user
            }
        },
        computed: {
            tickets() {
                return this.$store.getters.getTickets
            },
            tasks() {
                const myTasks = this.$store.getters.getItemsByUser(this.user.id)
                if(myTasks) {
                    return myTasks.filter(item => !item.done && item.priority === 'critical').sort(Sorting.sortByDate)
                }
                return null
            }
        },
        components: {
            Item
        }
    }
</script>

<style lang="scss">
    @import '../sass/_variables';

    .text-warning {
        color: $warning;

        &:hover,
        &:focus {
            color: darken($warning, 10%);
        }
    }

    .text-danger {
        color: $danger;

        &:hover,
        &:focus {
            color: darken($danger, 10%);
        }
    }

    .tickets__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $brand-item;
        padding: 1rem;
        margin-bottom: 1rem;
        color: #fff;

        &:hover,
        &:focus {
            text-decoration: none;
            background-color: lighten($brand-item, 5%);
            color: #fff;
        }
    }
</style>

