<template>
  <div class="card card-default" v-if="ticket">
        <div class="card-header">
            <div class="card-header__title">
                {{ $t('ticket.items', {name: ticket.title}) }}
            </div>

            <div class="card-header__action-items">
                <router-link class="btn btn-sm btn-primary" :to="{name: 'create-item', params: {ticketId: ticket.id}}">
                    <span class="oi oi-plus"></span>
                    <span class="hide-sm">&nbsp;{{ 'item.create' | translate }}</span>
                </router-link>
                <router-link class="btn btn-sm btn-info" :to="{name: 'edit-ticket', params: {ticketId: ticket.id}}" :title="$t('ticket.edit')">
                    <span class="oi oi-pencil"></span>
                </router-link>
                <a class="btn btn-sm btn-danger" @click.prevent="showModal" :title="$t('ticket.delete')" tabindex="0">
                    <span class="oi oi-trash"></span>
                </a>
            </div>
        </div>

        <div class="card-body">
            <div class="items" v-if="ticket.items && ticket.items.length">
                <template v-for="item in ticket.items">
                    <item :item="item" :details="isActiveItem(item.id)" :key="item.id"></item>
                </template>
            </div>
            <p v-else>{{ 'item.empty' | translate }}</p>
        </div>
    </div>
</template>

<script>
    import Item from './Item'

    export default {
        mounted() {
            eventbus.$on('deleteTicket', () => {
                this.deleteTicket()
            })
        },
        methods: {
            isActiveItem(id) {
                return this.$route.params.itemId == id
            },
            showModal() {
                eventbus.$emit('modalOpen', {
                    title: this.$t('ticket.delete_title'),
                    body: this.$t('ticket.delete_message', {name: this.ticket.title}),
                    event: 'deleteTicket'
                })
            },
            async deleteTicket() {
                if (await this.$store.dispatch('deleteTicket', this.ticket.id)) {
                    this.$router.push({name: 'tickets'})
                }
            }
        },
        computed: {
            ticket() {
                return this.$store.getters.getTicket(this.$route.params.ticketId)
            }
        },
        components: {
            Item
        }
    }
</script>

<style lang="scss">
    @media print {
        .card-header__action-items {
            display: none;
        }
    }
</style>


