
// Body
$body-bg: #e3f0f2;

// Brands
$primary: #3E92CC;
$info: #326771;
$success: #2CA58D;
$warning: #FF9F1C;
$danger: #CD5334;
$brand-item: #22a0a1;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
