
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import "../fonts/open-iconic/font/css/open-iconic-bootstrap.css";

body {
    background-color: $body-bg;
}

p {
    margin-bottom: 0;
}

.card {
    &-group, &.card-default {
        margin-bottom: 1rem;
    }

    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}